ul,ol,li{list-style:none;}
*{
    margin:0;
    padding:0;
}
#canvas{
    background-color:white;
    display:block;
    position:fixed;
    top:0;
    left:0;
}
body{
    margin:0;
    overflow: hidden;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
.actions{
    position:fixed;
    left:0;
    top:0;
}
.actions svg{
    width:40px;
    height:40px;
    transition: all 0.3s;
    margin:0 0 0 10px;
    padding:10px 0;
}
.actions svg.active{
    transform:scale(1.2);
    transition: all 0.3s;
}
.colors{
    position:fixed;
    top:60px;
    left:10px;
}
.colors li{
    width:40px;
    height:40px;
    border-radius:50%;
    margin:10px 0;
    transition: all 0.3s;
}
.colors li.black{
    background-color:black;
}
.colors li.red{
    background-color:red;
}
.colors li.yellow{
    background-color:yellow;
}
.colors li.blue{
    background-color:blue;
}
.colors li.active{
    box-shadow:0 0 2px 2px #c8c8cc;
    transform:scale(1.2);
    transition: all 0.3s;
}
.sizes{
    position:fixed;
    top:270px;
    left:10px;
}
.sizes li{
    width:40px;
    margin:10px 0;
    transition: all 0.3s;
}
.sizes li.thin{
    border-bottom:3px solid #000;
}
.sizes li.thick{
    border-bottom:6px solid #000;
}
.sizes li.active{
    transform:scale(1.2);
    transition: all 0.3s;
}